body {
  background-color: #010101;
  color: #fff;
}
.particles {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -1;
}
.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  transition: all 0.3s ease-out;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .active > .nav-link {
  background-color: rgba(255, 255, 255, 1);
}
#home {
  height: 100vh;
}
